# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# OS Files
.DS_Store

# Spyder Files from devEnv
.spyproject/


# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_static
docs/_build

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyderworkspace

# Rope project settings
.ropeproject

# PyCharm project settings
.idea/

# vscode project settings
.vscode/

# pypi config file
.pypirc

# Folder for testing scripts
test_scripts/

\.pytest_cache/
/SciFiReaders/readers/microscopy/spm/afm/mdt_reader/nt_mdt.svg
/SciFiReaders/readers/microscopy/spm/afm/mdt_reader/MDTdeclaration.py
/SciFiReaders/readers/microscopy/spm/afm/mdt_reader/MDTfile.py
.pyTEMlib.files.pkl
tests/readers/microscopy/em/tem/EMDReader_Spectrum_FEI.emd
tests/readers/converters/server_user_id.txt
tests/readers/microscopy/em/tem/DMReader_Image_SI-Survey.dm3
tests/readers/microscopy/em/tem/server_user_id.txt

NionReader_ImageStack_STO_HAADF.h5
DMReader_Image_SI-Survey.dm3
EMDReader_Image_FEI.emd
PTO_SS_00.h5
relax_test_data.h5
relax_test_data2.h5
test_data.mrc
vpfm_data.h5
PEA_BDA_film.axz.zip
PEA_BDA_film.axz.zip
__MACOSX/._PEA_BDA_film-1.axz
PEA_BDA_film-1.axz
PEA_BDA_film.axz.zip
PEA_BDA_film.axz.zip
PEA_BDA_film.axz.zip
PEA_BDA_film.axz.zip
