setuptools
numpy
toolz  # dask installation failing without this
cytoolz  # dask installation failing without this
dask>=2.20.0
sidpy>=0.11.2
numba==0.58; python_version < "3.10"
numba>=0.59.0rc1; python_version >= "3.10"
ipython>=7.1.0
pyUSID
gdown
mrcfile
